name: deploy

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  conoha:
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: id_rsa
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: run deploy script
        run: ssh $SSH_USER@$SSH_HOST -p 22 "cd /root/github.com/unofficial-line-bot-uparupa && git pull && sh deploy.sh"
        env:
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
